@import 'src/palette.scss';

h1 {
    color: $primary;
    font-weight: 500;
}

form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin-bottom: 1em;
}

button {
    margin-top: 1em;
	margin-bottom: 1em;
}

.address {
    position: relative;

    .mat-progress-spinner {
        position: absolute;
        right: 0;
        bottom: 0.4em;
    }
}
